<div class="summary-container">
  <div class="ratio-text">ACWR-suhde
    <span *ngIf="loaded" class="ratio-value" [ngStyle]="{'color': getRatioColor()}">{{getRoundedRatio()}}</span>
  </div>
  <div class="load-text">Akuutti kuorma
    <span *ngIf="loaded" class="load-value">{{summary.acute}}</span>
  </div>
  <div class="load-text">Krooninen kuorma
    <span *ngIf="loaded" class="load-value">{{summary.chronic}}</span>
  </div>
  <mat-card class="summary-description" [ngStyle]="{'background-color': descriptionBgColor}">{{description}}</mat-card>
</div>
