.login-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-form + a {
  font-size: 0.8em;
  color: #2D89B0;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  max-width: 500px;
  padding-bottom: 10px;
}

.login-btn {
  width: 70%;
  max-width: 500px;
}
