.page-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-sidenav {
  width: 200px;
}

#header {
  display: flex;
  position: relative;
  height: 60px;
}

.app-title {
  width: 100%;
  align-self: center;
  color: #2D89B0;
}

.menu-icon {
  position: absolute;
  align-self: center;
  right: 20px;
}
