<h3 class="register-title">Rekisteröidy</h3>
<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="register-inputs">
    <div class="username-input">
      <label for="username">Käyttäjätunnus: </label>
      <input id="username" type="text" formControlName="username" required>
    </div>
    <div class="password-input">
      <label for="password">Salasana: </label>
      <input id="password" type="password" formControlName="password" required>
    </div>
    <div class="email-input">
      <label for="email">Sähköposti: </label>
      <input id="email" type="email" formControlName="email" required>
    </div>
    <div class="first-name-input">
      <label for="first-name">Etunimi: </label>
      <input id="first-name" type="text" formControlName="firstName">
    </div>
    <div class="last-name-input">
      <label for="last-name">Sukunimi: </label>
      <input id="last-name" type="text" formControlName="lastName">
    </div>
  </div>
  <button mat-raised-button class="btn-success register-user-btn" type="submit" [disabled]="!registerForm.valid">Rekisteröidy</button>
</form>