.register-form {
  padding-top: 15px;
  padding-bottom: 5px;
}

.register-form + a {
  font-size: 0.8em;
  color: #2D89B0;
}

.register-inputs {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;
  padding-bottom: 10px;
}
