<mat-accordion class="settings" multi>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Laskenta
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>show_chart</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="account-settings-subsection">
      <div class="setting-title">Muuta kuormittumisen laskennan asetuksia</div>
      <app-update-calculations></app-update-calculations>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tili
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="account-settings">
      <div class="account-settings-subsection">
        <div class="setting-title">Muuta omia tietojasi</div>
        <app-update-account></app-update-account>
      </div>

      <mat-divider></mat-divider>

      <div class="account-settings-subsection">
        <div class="setting-title">Vaihda salasana</div>
        <app-change-password></app-change-password>
      </div>

      <mat-divider></mat-divider>

      <div class="account-settings-subsection">
        <div class="delete-account" (click)="deleteAccount()">Poista tilini</div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>