<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="legacy" floatLabel="always">
    <mat-label>Nykyinen salasana</mat-label>
    <input matInput type="password" formControlName="currentPassword" />
    <mat-error *ngIf="form.invalid">{{
      getErrorMessage("currentPassword")
    }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="legacy" floatLabel="always">
    <mat-label>Uusi salasana</mat-label>
    <input matInput type="password" formControlName="newPassword" />
    <mat-error *ngIf="form.invalid">{{
      getErrorMessage("newPassword")
    }}</mat-error>
  </mat-form-field>
  <div class="div-with-button">
    <mat-form-field appearance="legacy" floatLabel="always">
      <mat-label>Uusi salasana uudelleen</mat-label>
      <input matInput type="password" formControlName="newPasswordAgain" />
      <mat-error *ngIf="form.invalid">{{
        getErrorMessage("newPasswordAgain")
      }}</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      class="btn-success save-btn"
      [class.spinner]="loading"
      type="submit"
      [disabled]="!form.valid"
    >
      {{ loading ? "" : "Vaihda" }}
    </button>
  </div>
  <div class="messages">
    <div class="generic-message" *ngIf="genericMessage">
      {{ genericMessage }}
    </div>
    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>
</form>
