<form class="form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="legacy" floatLabel="always">
    <mat-label>Nykyinen salasana</mat-label>
    <input matInput type="password" formControlName="currentPassword">
    <mat-error *ngIf="changePasswordForm.invalid">{{getErrorMessage("currentPassword")}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="legacy" floatLabel="always">
    <mat-label>Uusi salasana</mat-label>
    <input matInput type="password" formControlName="newPassword">
    <mat-error *ngIf="changePasswordForm.invalid">{{getErrorMessage("newPassword")}}</mat-error>
  </mat-form-field>
  <div>
    <mat-form-field appearance="legacy" floatLabel="always">
      <mat-label>Uusi salasana uudelleen</mat-label>
      <input matInput type="password" formControlName="newPasswordAgain">
      <mat-error *ngIf="changePasswordForm.invalid">{{getErrorMessage("newPasswordAgain")}}</mat-error>
    </mat-form-field>
    <button mat-raised-button class="btn-success save-btn" type="submit" [disabled]="!changePasswordForm.valid">Vaihda</button>
  </div>
</form>
