.mat-dialog-title {
  text-align: center;
}

.mat-dialog-actions {
  justify-content: center;
}

.add-session-inputs {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.add-session-inputs > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-session-inputs > div:first-of-type {
  margin-bottom: 10px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.slider mat-slider {
  width: 100%;
  height: 32px;
}

.slider-label {
  color: #666666;
  font-size: 0.9em;
  margin-top: 5px;
  margin-left: 7px;
}

.add-session-inputs > div input {
  border: 1px solid rgb(126, 126, 126);
  border-radius: 5px;
  width: 35px;
  height: 30px;
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
  font-size: 0.7em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.date-input {
  width: 100%;
  margin-top: 10px;
  align-self: center;
}

@media (max-width: 450px) {
  .add-session-title {
    width: 100%;
    text-align: center;
  }

  .add-session-inputs {
    width: 100%;
  }

  .slider-label {
    font-size: 0.8em;
  }
}