.combined-chart-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.chart-placeholder {
  width: 90%;
  height: calc(100vw * 0.75);
  max-height: 600px;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#combined-chart {
  padding: 0 10px;
}

.mtx-slider-horizontal {
  width: 80%;
}

.chart-toggles {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  padding-top: 15px;
}

.chart-toggles div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-text {
  font-size: 0.5em;
  width: 20%;
  padding-top: 5px;
}

.mat-icon {
  height: 1.8em !important;
  width: 1.8em !important;
  font-size: 1.8em !important;
  line-height: 1em!important;
  
}

.reliability-warning-button {
  height: 1.8em!important;
  width: 1.8em !important;
  line-height: 1.8em!important;
}

.reliability-warning-icon {
  color: #ffd000;
}

@media (min-width: 800px) {
  .chart-placeholder {
    height: calc((100vw - 200px) * 0.75);
  }
}
