.combined-chart-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
#combined-chart {
  padding: 0 10px;
}

.mtx-slider-horizontal {
  width: 80%;
}

.chart-toggles {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  padding-top: 15px;
}

.chart-toggles div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-text {
  font-size: 0.5em;
  width: 20%;
  padding-top: 5px;
}
