<div class="combined-chart-container">
  <div *ngIf="!d.loaded" class="chart-placeholder">
    <mat-spinner color=""></mat-spinner>
  </div>
  <canvas
    id="combined-chart"
    [ngStyle]="{ display: d.loaded ? 'block' : 'none' }"
    width="4"
    height="3"
  ></canvas>
  <mtx-slider
    #rangeSlider
    color="primary"
    class="range-slider"
    [min]="rs.min"
    [max]="rs.max"
    [step]="rs.step"
    [(ngModel)]="rs.value"
    (input)="onSliderChange($event)"
    (change)="onSliderRelease($event)"
  >
  </mtx-slider>
  <div class="chart-toggles">
    <div class="ratio">
      <mat-slide-toggle
        id="showRatio"
        color="primary"
        [checked]="d.showRatio"
        (change)="onSlideToggleChange($event)"
      ></mat-slide-toggle>
      <div class="toggle-text">ACWR-suhde</div>
    </div>
    <div class="acute">
      <mat-slide-toggle
        id="showAcute"
        color="primary"
        [checked]="d.showAcute"
        (change)="onSlideToggleChange($event)"
      ></mat-slide-toggle>
      <div class="toggle-text">Akuutti kuorma</div>
    </div>
    <div class="chronic">
      <mat-slide-toggle
        id="showChronic"
        color="primary"
        [checked]="d.showChronic"
        (change)="onSlideToggleChange($event)"
      ></mat-slide-toggle>
      <div class="toggle-text">Krooninen kuorma</div>
    </div>
    <div class="exercises">
      <mat-slide-toggle
        id="showExercises"
        color="primary"
        [checked]="d.showExercises"
        (change)="onSlideToggleChange($event)"
      ></mat-slide-toggle>
      <div class="toggle-text">Harjoitukset</div>
    </div>
  </div>
</div>
