.session-table {
  width: 100%;
  text-align: start;
}

.session-data-row {
  height: 40px;
}

.mat-icon {
  height:16px !important;
  width:16px !important;
  font-size:16px !important;
  line-height: 16px!important;
}

.edit-icon {
  color: #708c9b;
}

.delete-icon {
  color: #f07272;
}

.action-button {
  width: 24px!important;
  height: 24px!important;
  min-width: unset!important;
  line-height: 20px!important;
}

.action-button:first-of-type {
  margin-right: 6px;
}

.mat-column-date {
  padding-left: 24px!important;
  min-width: 100px!important;
  width: 32%!important;
}

.mat-column-duration {
  min-width: 50px!important;
  width: 17%!important;
}

.mat-column-rpe {
  min-width: 50px!important;
  width: 17%!important;
}

.mat-column-load {
  min-width: 50px!important;
  width: 17%!important;
}

.mat-column-buttons {
  width: 17%!important;
  min-width: 56px!important;
  padding-right: 0px!important;
}

.datatable-spinner {
  margin-top: 20px;
  margin-bottom: 10px;
}