<div class="generic-message" *ngIf="genericMessage">{{ genericMessage }}</div>
<div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
<table mat-table [dataSource]="dataSource" matSort class="session-table">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Päivä</th>
    <td mat-cell *matCellDef="let session">
      {{ getFormattedDate(session.date) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Kesto</th>
    <td mat-cell *matCellDef="let session">{{ session.duration }}</td>
  </ng-container>

  <ng-container matColumnDef="rpe">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>RPE</th>
    <td mat-cell *matCellDef="let session">{{ session.rpe }}</td>
  </ng-container>

  <ng-container matColumnDef="load">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Kuorma</th>
    <td mat-cell *matCellDef="let session">
      {{ session.duration * session.rpe }}
    </td>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td class="action-button-cell" mat-cell *matCellDef="let row">
      <button
        class="action-button"
        (click)="openEditSessionDialog(row)"
        mat-icon-button
        aria-label="Button with an edit icon"
      >
        <mat-icon class="edit-icon">edit</mat-icon>
      </button>
      <button
        class="action-button"
        (click)="openConfirmDeleteDialog(row)"
        mat-icon-button
        aria-label="Button with a delete icon"
      >
        <mat-icon class="delete-icon">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    class="session-data-row"
    *matRowDef="let row; columns: columnsToDisplay"
  ></tr>
</table>
<mat-spinner
  class="datatable-spinner"
  diameter="40"
  *ngIf="!loaded"
></mat-spinner>
<mat-paginator
  class="session-table-paginator"
  [pageSize]="15"
  showFirstLastButtons
  hidePageSize="true"
></mat-paginator>
