<button
  *ngIf="mobileView"
  class="close-button"
  (click)="sidenav.toggle()"
  mat-icon-button
  aria-label="Button with close icon"
>
  <mat-icon class="close-icon">close</mat-icon>
</button>
<div class="nav-links">
  <a
    *ngIf="!userApiService.loggedIn()"
    (click)="changePageAction()"
    [routerLink]="['/auth/login']"
    >Kirjaudu</a
  >
  <a
    *ngIf="!userApiService.loggedIn()"
    (click)="changePageAction()"
    [routerLink]="['/auth/register']"
    >Rekisteröidy</a
  >
  <a
    *ngIf="userApiService.loggedIn()"
    (click)="changePageAction()"
    [routerLink]="['/']"
    >Etusivu</a
  >
  <a
    *ngIf="userApiService.loggedIn()"
    (click)="changePageAction()"
    [routerLink]="['/sessions']"
    >Harjoitukset</a
  >
  <a
    *ngIf="userApiService.loggedIn()"
    (click)="changePageAction()"
    [routerLink]="['/analyze']"
    >Analysoi</a
  >
  <a
    *ngIf="userApiService.loggedIn()"
    (click)="changePageAction()"
    [routerLink]="['/settings']"
    >Tili</a
  >
</div>
