@use '@ng-matero/extensions' as mtx;
@use "@angular/material" as mat;

@include mat.core();

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mtx.all-component-themes($theme);
@include mtx.all-experimental-component-themes($theme);

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 { 
    font-size: 2.2em; 
} 
     
h2 { 
    font-size: 2.0em;     
} 
     
h3 { 
    font-size: 1.8em; 
} 
     
h4 { 
    font-size: 1.6em;     
} 
     
h5 { 
    font-size: 1.4em;     
} 
     
p { 
    font-size: 1.2em;     
}

.btn-success {
  color: #fff;
  background-color: #41A94C;
}

.btn-remove {
  color: #fff;
  background-color: #dd2d2d;
}

.error-message {
  font-size: 0.8em;
  color: rgb(245, 22, 22);
  padding: 5px 35px 0 35px;
}

.generic-message {
  font-size: 0.8em;
  color: rgb(12, 141, 12);
  padding-top: 5px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.mat-raised-button {
  min-height: 40px!important;
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: rgba(0,0,0,0);
  animation: spinner .8s linear infinite;
}
